@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App a {
  color: #f60;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.welcome {
  background-color: rgb(100, 207, 0);
  color: white;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
.welcome li {
  list-style: none;
}
.welcome__wrapper {
  padding-top: 5vh;
  margin: 0 auto;
  width: 50vw;
}
.welcome__title {
  font-size: 8em;
}
