@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.App {
  text-align: center;
}


.welcome {
  background-color: rgb(100, 207, 0);
  color: white;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
.welcome li {
  list-style: none;
}
.welcome__wrapper {
  /* padding-top: 5vh; */
  margin: 0 auto;
  width: 50vw;
}
.welcome__title {
  font-size: 8em;
}
.postat {
  margin: 0 auto;
  margin-top: 2%;
  width: 80vw;
  /* background-color: rgb(235, 235, 235); */
  text-align: left;
  /* box-shadow: 5px 8px #dfdfdf */
}
.header {
  text-align: center;
  height: 60px;
  padding: 20px;
  margin: 0 auto;
  background-color: rgb(100, 207, 0);
}
.header h1 {
  color: white;
}
.postat__emoji {
text-align: right;
}